{% extends "::base.html.twig" %}

{% block title %}ProductBundle:Products:index{% endblock %}

{% block body %}
<h1>Welcome to the Products:index page</h1>
    {% if  products is empty %}
        <h2>No products found!<h2>
    {% else %}
        <ul>
        {% for product in products %}
            <li>product.name</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
