{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table class="pure-table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ reviews.rating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">Back to the list</a>
{% endblock %}
